<footer class="text-muted pt-3">
    <div class="container">
        <p class="float-right">
            <a href="#">Nach oben</a>
        </p>
        <p>Copyright &copy; {{ 'now'|date('Y') }} by Ruedi Grossen</p>
    </div>
</footer>
