@import '../../vendor/twbs/bootstrap/scss/bootstrap';

$fa-font-path: "../webfonts" !default;
@import '../../vendor/fortawesome/font-awesome/scss/fontawesome';
@import '../../vendor/fortawesome/font-awesome/scss/solid';
@import '../../vendor/fortawesome/font-awesome/scss/brands';

.card-img-top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.8);
}

.contact ul {
  padding-left: 0;
  list-style: none;
}

.contact ul li a {
  color: #FFFFFF;
}

#cookie-info {
  position: fixed;
  bottom: 0;
  padding: 10px;
}

#articleGallery {
  a.carousel-control-prev, a.carousel-control-next {
    opacity: 0.8;
    color: #dc3545;
  }
}